In [66]:
# import pandas and numpy
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import unicodedata

In [67]:
# load in batx projections
projections = pd.read_csv("2024 BATX Hitter Projections.csv")
pitcher_projections = pd.read_csv("2024 BAT Pitcher Projections.csv")
underdog_adp = pd.read_csv("Underdog ADP Data.csv")
underdog_adp

,id,firstName,lastName,adp,projectedPoints,positionRank,slotName,teamName,lineupStatus,byeWeek
0,c2f7428d-272d-4b5a-8c2f-6dfbf56197ee,Ronald,Acuña,1.0,1738.0,OF1,OF,Atlanta Braves,NaN,NaN
1,33e98300-0661-461e-bed0-81e21cd9c68b,Juan,Soto,2.5,1603.0,OF2,OF,New York Yankees,NaN,NaN
2,915bafbf-4321-465c-a912-6b9a49db6bef,Aaron,Judge,3.2,1593.0,OF3,OF,New York Yankees,NaN,NaN
3,aab8b290-217a-486c-9e66-3f4b855c4029,Mookie,Betts,4.4,1535.0,OF4,OF,Los Angeles Dodgers,NaN,NaN
4,cdfca4c2-1f1a-41ad-b947-a7e1a0f6e75d,Shohei,Ohtani,5.1,1587.0,OF5,OF,Los Angeles Dodgers,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2470,5c5368d2-100b-4ac5-a6ca-5125c248bdd5,Travis,Shaw,-,0.0,NaN,IF,NaN,NaN,NaN
2471,96b8fe57-bfb2-4d36-922c-2d8df61d50b2,Anthony,Bemboom,-,0.0,NaN,IF,NaN,NaN,NaN
2472,1d490dcc-60bb-478d-8e4f-ef7731ddfaaa,Taylor,Davis,-,0.0,NaN,IF,NaN,NaN,NaN
2473,2e95fdfa-36e0-4a21-beba-b7638b46bcef,José,Godoy,-,0.0,NaN,IF,NaN,NaN,NaN
2474,63acbca2-4a51-46c6-8412-9ac16457e8ca,Derek,Fisher,-,0.0,NaN,OF,NaN,NaN,NaN

In [68]:
# Create points column for both pitchers/hitters
projections['UD Points'] = projections['1B'] * 3 + projections['2B'] * 6 + projections['R'] * 2 + projections['HR'] * 10 + projections['RBI'] * 2 + projections['SB'] * 4 + projections['3B'] * 8 + projections['BB'] * 3 + projections['HBP'] * 3 + projections['IBB'] * 3
pitcher_projections['UD Pitcher Points'] = pitcher_projections['W'] * 5 + pitcher_projections['SO'] * 3 + pitcher_projections['QS'] * 5 + pitcher_projections['ER'] * -(3) + pitcher_projections['IP'] * 3
projections

,Name,Team,G,PA,AB,H,1B,2B,3B,HR,...,Fld,Off,Def,WAR,ADP,InterSD,InterSK,IntraSD,PlayerId,UD Points
0,Ronald Acuña Jr.,ATL,152,680,585,187,107,38,2,40,...,5.03,58.650177,-2.186367,7.939910,1.000000,NaN,NaN,NaN,18401,1938
1,Aaron Judge,NYY,143,622,513,143,71,25,1,46,...,-4.97,52.041296,-8.107996,6.487270,10.870000,NaN,NaN,NaN,15640,1642
2,Juan Soto,NYY,153,665,533,147,82,27,2,36,...,-0.88,49.605891,-10.003234,6.203610,11.240000,NaN,NaN,NaN,20123,1642
3,Mookie Betts,LAD,149,661,568,163,92,36,3,32,...,1.59,38.000283,1.424184,6.177760,5.370000,NaN,NaN,NaN,13611,1570
4,Fernando Tatis Jr.,SDP,146,634,559,159,87,33,3,36,...,4.39,39.044206,-1.887846,5.857350,8.450000,NaN,NaN,NaN,19709,1590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717,Mike Moustakas,NaN,67,250,227,49,30,10,0,8,...,-0.41,-6.980987,-4.967806,-0.342522,734.340027,NaN,NaN,NaN,4892,409
718,Michael Toglia,COL,37,142,129,29,18,6,1,5,...,-0.47,-5.254683,-3.340833,-0.373767,999.000000,NaN,NaN,NaN,25845,255
719,Mike Ford,NaN,53,189,167,34,21,6,0,7,...,0.00,-4.466330,-5.743997,-0.376762,999.000000,NaN,NaN,NaN,15585,318
720,Nick Pratto,KCR,58,228,201,41,25,9,1,6,...,-0.04,-7.735808,-4.326674,-0.430501,671.049988,NaN,NaN,NaN,22117,377
721,Elehuris Montero,COL,109,434,399,99,61,22,1,15,...,-1.19,-11.613979,-9.168679,-0.598829,405.239990,NaN,NaN,NaN,20543,778

In [69]:
# merge underdog firstname lastname columns, drop afterwards 
underdog_adp['Name'] = underdog_adp['firstName'] + ' ' + underdog_adp['lastName']
underdog_adp.drop(columns=['firstName', 'lastName'], inplace=True)

underdog_adp

,id,adp,projectedPoints,positionRank,slotName,teamName,lineupStatus,byeWeek,Name
0,c2f7428d-272d-4b5a-8c2f-6dfbf56197ee,1.0,1738.0,OF1,OF,Atlanta Braves,NaN,NaN,Ronald Acuña
1,33e98300-0661-461e-bed0-81e21cd9c68b,2.5,1603.0,OF2,OF,New York Yankees,NaN,NaN,Juan Soto
2,915bafbf-4321-465c-a912-6b9a49db6bef,3.2,1593.0,OF3,OF,New York Yankees,NaN,NaN,Aaron Judge
3,aab8b290-217a-486c-9e66-3f4b855c4029,4.4,1535.0,OF4,OF,Los Angeles Dodgers,NaN,NaN,Mookie Betts
4,cdfca4c2-1f1a-41ad-b947-a7e1a0f6e75d,5.1,1587.0,OF5,OF,Los Angeles Dodgers,NaN,NaN,Shohei Ohtani
...,...,...,...,...,...,...,...,...,...
2470,5c5368d2-100b-4ac5-a6ca-5125c248bdd5,-,0.0,NaN,IF,NaN,NaN,NaN,Travis Shaw
2471,96b8fe57-bfb2-4d36-922c-2d8df61d50b2,-,0.0,NaN,IF,NaN,NaN,NaN,Anthony Bemboom
2472,1d490dcc-60bb-478d-8e4f-ef7731ddfaaa,-,0.0,NaN,IF,NaN,NaN,NaN,Taylor Davis
2473,2e95fdfa-36e0-4a21-beba-b7638b46bcef,-,0.0,NaN,IF,NaN,NaN,NaN,José Godoy
2474,63acbca2-4a51-46c6-8412-9ac16457e8ca,-,0.0,NaN,OF,NaN,NaN,NaN,Derek Fisher

In [77]:
# function to normalize accents in projections      Might not need anympre
def normalize_accents(text):
    return ''.join(char for char in unicodedata.normalize('NFD', text)
                   if unicodedata.category(char) != 'Mn')

# Normalize accents in the "name" column of both DataFrames
projections['Name1'] = projections['Name'].apply(normalize_accents)
pitcher_projections['Name1'] = pitcher_projections['Name'].apply(normalize_accents)
underdog_adp['Name1'] = underdog_adp['Name'].apply(normalize_accents)

#drop Jr. from name column
projections['Name1'] = projections['Name1'].str.replace(' Jr.', '')
pitcher_projections['Name1'] = pitcher_projections['Name1'].str.replace(' Jr.', '')

In [78]:
# merge hitting data frame to adp
ud_projections = projections.merge(underdog_adp[['Name1', 'positionRank', 'adp']], on='Name1', how='left')
ud_projections
ud_projections.to_csv("UD Batter Projections.csv")

,Name,Team,G,PA,AB,H,1B,2B,3B,HR,...,WAR,ADP,InterSD,InterSK,IntraSD,PlayerId,UD Points,Name1,positionRank,adp
0,Ronald Acuña Jr.,ATL,152,680,585,187,107,38,2,40,...,7.939910,1.000000,NaN,NaN,NaN,18401,1938,Ronald Acuna,OF1,1.0
1,Aaron Judge,NYY,143,622,513,143,71,25,1,46,...,6.487270,10.870000,NaN,NaN,NaN,15640,1642,Aaron Judge,OF3,3.2
2,Juan Soto,NYY,153,665,533,147,82,27,2,36,...,6.203610,11.240000,NaN,NaN,NaN,20123,1642,Juan Soto,OF2,2.5
3,Mookie Betts,LAD,149,661,568,163,92,36,3,32,...,6.177760,5.370000,NaN,NaN,NaN,13611,1570,Mookie Betts,OF4,4.4
4,Fernando Tatis Jr.,SDP,146,634,559,159,87,33,3,36,...,5.857350,8.450000,NaN,NaN,NaN,19709,1590,Fernando Tatis,OF8,8.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,Mike Moustakas,NaN,67,250,227,49,30,10,0,8,...,-0.342522,734.340027,NaN,NaN,NaN,4892,409,Mike Moustakas,NaN,-
726,Michael Toglia,COL,37,142,129,29,18,6,1,5,...,-0.373767,999.000000,NaN,NaN,NaN,25845,255,Michael Toglia,NaN,-
727,Mike Ford,NaN,53,189,167,34,21,6,0,7,...,-0.376762,999.000000,NaN,NaN,NaN,15585,318,Mike Ford,NaN,-
728,Nick Pratto,KCR,58,228,201,41,25,9,1,6,...,-0.430501,671.049988,NaN,NaN,NaN,22117,377,Nick Pratto,IF104,239.5
729,Elehuris Montero,COL,109,434,399,99,61,22,1,15,...,-0.598829,405.239990,NaN,NaN,NaN,20543,778,Elehuris Montero,NaN,-

In [80]:
# merge pitching dataframe to ud adp
ud_pitcher_projections = pitcher_projections.merge(underdog_adp[['Name1', 'positionRank', 'adp']], on='Name1', how='left')
ud_pitcher_projections
ud_pitcher_projections.to_csv("UD Pitcher Projections.csv")

,Name,Team,W,L,QS,ERA,G,GS,SV,HLD,...,RA9-WAR,ADP,InterSD,InterSK,IntraSD,PlayerId,UD Pitcher Points,Name1,positionRank,adp
0,Spencer Strider,ATL,14.338800,6.86573,13.118600,3.22025,29.562,29.562,0.000,0.0000,...,4.732630,7.140000,NaN,NaN,NaN,27498,1236.382000,Spencer Strider,P1,12.9
1,Zack Wheeler,PHI,12.661300,8.57594,13.367700,3.49976,29.732,29.732,0.000,0.0000,...,4.067660,24.920000,NaN,NaN,NaN,10310,1012.751000,Zack Wheeler,P7,41.9
2,Kevin Gausman,TOR,11.798200,9.47349,13.878600,3.84014,29.736,29.736,0.000,0.0000,...,3.347350,27.969999,NaN,NaN,NaN,14107,1063.580000,Kevin Gausman,P4,35.9
3,Logan Webb,SFG,11.588600,9.55235,13.103000,3.56985,29.827,29.827,0.000,0.0000,...,3.889750,57.570000,NaN,NaN,NaN,17995,890.816000,Logan Webb,P15,63.4
4,Pablo López,MIN,11.376100,9.49286,12.340100,3.63988,29.943,29.943,0.000,0.0000,...,3.722260,34.970001,NaN,NaN,NaN,17085,988.005000,Pablo Lopez,P8,44.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,Chad Kuhl,CHW,1.064380,1.82263,0.565515,5.83738,22.473,1.896,0.000,0.5902,...,-0.371122,999.000000,NaN,NaN,NaN,14975,130.410875,Chad Kuhl,NaN,-
810,Jimmy Lambert,CHW,1.540930,2.20657,0.189815,5.68057,45.385,0.647,1.996,13.8801,...,-0.600015,999.000000,NaN,NaN,NaN,19541,209.539725,Jimmy Lambert,NaN,-
811,Matt Carasiti,NaN,0.741220,1.15260,0.169030,6.88667,20.641,0.533,0.000,0.0000,...,-0.576200,999.000000,NaN,NaN,NaN,13276,75.176650,Matt Carasiti,NaN,-
812,Tanner Rainey,WSN,1.570360,2.13687,0.000000,5.31080,53.974,0.000,4.647,12.3240,...,-0.438360,691.890015,NaN,NaN,NaN,17610,252.132800,Tanner Rainey,NaN,-
813,Matt Koch,COL,0.858417,1.25891,0.118653,6.85605,24.735,0.369,0.000,0.5574,...,-0.658742,999.000000,NaN,NaN,NaN,13420,82.312350,Matt Koch,NaN,-

In [82]:
# fix decimal places in pitchers
ud_pitcher_projections = ud_pitcher_projections.round(2)
ud_pitcher_projections
ud_pitcher_projections.to_csv("UD Pitcher Projections.csv")

,Name,Team,W,L,QS,ERA,G,GS,SV,HLD,...,RA9-WAR,ADP,InterSD,InterSK,IntraSD,PlayerId,UD Pitcher Points,Name1,positionRank,adp
0,Spencer Strider,ATL,14.34,6.87,13.12,3.22,29.56,29.56,0.00,0.00,...,4.73,7.14,NaN,NaN,NaN,27498,1236.38,Spencer Strider,P1,12.9
1,Zack Wheeler,PHI,12.66,8.58,13.37,3.50,29.73,29.73,0.00,0.00,...,4.07,24.92,NaN,NaN,NaN,10310,1012.75,Zack Wheeler,P7,41.9
2,Kevin Gausman,TOR,11.80,9.47,13.88,3.84,29.74,29.74,0.00,0.00,...,3.35,27.97,NaN,NaN,NaN,14107,1063.58,Kevin Gausman,P4,35.9
3,Logan Webb,SFG,11.59,9.55,13.10,3.57,29.83,29.83,0.00,0.00,...,3.89,57.57,NaN,NaN,NaN,17995,890.82,Logan Webb,P15,63.4
4,Pablo López,MIN,11.38,9.49,12.34,3.64,29.94,29.94,0.00,0.00,...,3.72,34.97,NaN,NaN,NaN,17085,988.01,Pablo Lopez,P8,44.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,Chad Kuhl,CHW,1.06,1.82,0.57,5.84,22.47,1.90,0.00,0.59,...,-0.37,999.00,NaN,NaN,NaN,14975,130.41,Chad Kuhl,NaN,-
810,Jimmy Lambert,CHW,1.54,2.21,0.19,5.68,45.38,0.65,2.00,13.88,...,-0.60,999.00,NaN,NaN,NaN,19541,209.54,Jimmy Lambert,NaN,-
811,Matt Carasiti,NaN,0.74,1.15,0.17,6.89,20.64,0.53,0.00,0.00,...,-0.58,999.00,NaN,NaN,NaN,13276,75.18,Matt Carasiti,NaN,-
812,Tanner Rainey,WSN,1.57,2.14,0.00,5.31,53.97,0.00,4.65,12.32,...,-0.44,691.89,NaN,NaN,NaN,17610,252.13,Tanner Rainey,NaN,-
813,Matt Koch,COL,0.86,1.26,0.12,6.86,24.74,0.37,0.00,0.56,...,-0.66,999.00,NaN,NaN,NaN,13420,82.31,Matt Koch,NaN,-

In [14]:
# drop any players projecting for less than 250 points
minimum = 350  
pitcher_fantasy_points = 'Pitcher Fantasy Points'  
fantasy_points = 'Fantasy Points'
# Create an empty list to store filtered rows
qualified_players = []

# Iterate over each row in the DataFrame
for index, row in udprojectionsbatx.iterrows():
    # Check if the value in the specified column meets the threshold
    if row[pitcher_fantasy_points] >= minimum or row[fantasy_points] >= minimum:
        qualified_players.append(row)
mlbprojectionsud = pd.DataFrame(qualified_players)

,Name,Team,G,PA,AB,H,1B,2B,3B,HR,...,RA9-WAR,W Points,SO Points,ER Points,QS Points,IP Points,Pitcher Fantasy Points,Name1,Position(s),UD Position
0,Ronald Acuña Jr.,ATL,152.00,680.0,585.0,187.00,107.0,38.0,2.0,40.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ronald Acuna Jr.,OF,OF
1,Aaron Judge,NYY,143.00,622.0,513.0,143.00,71.0,25.0,1.0,46.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aaron Judge,OF,OF
2,Juan Soto,NYY,153.00,665.0,533.0,147.00,82.0,27.0,2.0,36.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Juan Soto,OF,OF
3,Mookie Betts,LAD,149.00,661.0,568.0,163.00,92.0,36.0,3.0,32.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mookie Betts,"2B, OF",Other
4,Fernando Tatis Jr.,SDP,146.00,634.0,559.0,159.00,87.0,33.0,3.0,36.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fernando Tatis Jr.,OF,OF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064,Trevor Williams,WSN,25.31,NaN,NaN,132.62,NaN,NaN,NaN,22.53,...,-0.23,16.23,249.44,-220.89,42.72,354.80,442.30,Trevor Williams,NaN,Other
1069,Dakota Hudson,COL,25.16,NaN,NaN,142.35,NaN,NaN,NaN,14.49,...,-0.45,15.63,185.84,-227.16,29.79,351.52,355.61,Dakota Hudson,NaN,Other
1073,Jordan Lyles,KCR,31.48,NaN,NaN,151.90,NaN,NaN,NaN,27.08,...,-0.30,21.30,272.10,-254.76,49.87,408.95,497.45,Jordan Lyles,NaN,Other
1099,Kyle Freeland,COL,28.06,NaN,NaN,169.28,NaN,NaN,NaN,24.87,...,-0.98,17.84,248.21,-277.80,45.89,409.20,443.34,Kyle Freeland,NaN,Other
1208,Touki Toussaint,CHW,34.37,NaN,NaN,88.31,NaN,NaN,NaN,12.69,...,0.09,11.50,258.31,-157.14,18.20,273.78,404.65,Touki Toussaint,NaN,Other

In [15]:
# send to csv
mlbprojectionsud.to_csv("MLB Underdog BATX Projections 2024.csv", index=False)